.button {
  background-color: $color-primary;
  color: $color-light;
  border-radius: 5px;
  text-decoration: none;
  padding: 10px 20px;
  white-space: nowrap;
  border: 1px transparent solid;
  cursor: pointer;
  @extend %transition;

  &:hover {
    background-color: transparent;
    color: $color-primary;
    border: 1px $color-primary solid;
    @extend %transition;
  }

  &_light {
    background-color: transparent;
    color: $color-primary;
    border: 1px $color-primary solid;
    border-radius: 5px;
    text-decoration: none;
    padding: 10px 20px;
    white-space: nowrap;

    &:hover {
      background-color: $color-primary;
      color: $color-light;
      border: 1px transparent solid;
      @extend %transition;
    }
  }

  &_sign-out {
    max-width: 150px;
    text-transform: uppercase;
    font-weight: 700;

    @media (max-width: 500px) {
      font-size: 12px;
      width: 100%;
    }
  }
}