.header {
   margin-bottom: 2vh;
   padding: 4vh 6vw;
   border-bottom: 1px $color-additional solid;

   display: flex;
   justify-content: space-between;
   align-items: center;
 }

 .header__logo {
   height: 40px;
   width: 60px;
   border: 1px red solid;
 }

 .header__logo-img {
   width: 100%;
   height: 100%;
 }

 .navigation {
   flex: 4;
 }

 .header__nav-ul {
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .header__nav-link {
   margin-left: 2vw;
   display: block;
   padding: 10px 20px;
   text-decoration: none;
   text-transform: capitalize;
 }

 .header__nav-link:visited {
   color: $color-dark;
 }

 .header__nav-link:hover {
   border-radius: 5px;
   border: 1px $color-additional solid;
 }

 .header__nav-link-element {
   list-style: none;
 }

 .cart {
   margin-right: 4vw;
 }

 .header__user-wrapper {
   gap: 10px;
   display: flex;
   justify-content: center;
   align-items: flex-end;
 }

 .header__btn {
   margin-left: 10px;
 }