.slider__{
  &container {
    position: relative;
    width: calc( (100vw - 390px)/(1920 - 390) * (350 - 250) + 250px);
    height: calc( (100vw - 390px)/(1920 - 390) * (350 - 250) + 250px);
    overflow: hidden;
  }
  &img {
    width: 100%;
    height: 100%;
    border-radius: 7px;
    background-size: cover;
    cursor: pointer;
  }

  &button {
    transform: translateY(-50%);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-family: cursive;
    border: none;
    background-color: $color-primary;
    color: $color-light;
    width: 30px;
    height: 60px;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
      @extend %transition;
    }
  }

  &prev-button {
    top: 50%;
    left: -5px;
    border-radius: 0 10px 10px 0;
  }

  &next-button  {
    top: 50%;
    right: -5px;
    border-radius: 10px 0 0 10px;
  }

  &dot-wrapper {
    position: absolute;
    bottom: 4px;
    left: 50%;
    transform: translateX(-50%);
    min-width: 20%;
    display: flex;
    justify-content: space-between;

    & .slider__dot {
      width: 12px;
      height: 5px;
      border-radius: 5px;
      background-color: $color-light;
    }
  }
}

.modal__ {

  &container{
    position: fixed;
    z-index: 100;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #00000099;
  }
  &content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;

    & .slider__container {
      display: flex;
      justify-content: center;
      width: 100vw;
      height: 80vh;
    }

    & .slider__img {
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  &close-button{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background-color: $color-additional;
    color: $color-light;
    border: none;
    border-radius: 30px;
    font-size: 17px;
    font-family: cursive;
    cursor: pointer;
  }
}

.show {
  z-index: 5;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
  height: 50vw;
  cursor: pointer;
}

@media screen and (max-width: 968px) {
  .show {
    width: 94vw;
    height: 94vw;
  }
}