.about__wrapper {
  padding: 20px;
}
.about__title {
  text-align: center;
  color: $color-primary;
}
.item__wrapper {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
}
.person__image-wrapper {
  display: block;
  width: 250px;
  height: 250px;
  overflow: hidden;
  border: 1px solid $color-primary;
  margin-right: 30px;
  border-radius: 5px;

  & .person__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover; 
  }
}
.person__list {
  width: 500px;
}
li::marker {
    color: $color-primary;
}

.footer__logo-link {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  width: 100px;
  height: 38px;
  background-size: 100%;
  background-image: url(../../../assets/image/rs_school_js.svg);
}