.catalog-wrapper {
    margin-top: 15px;
    width: 70vw;
    margin: 0 auto;
    margin-top: 40px;
    border-radius: 7px;
    border: 1px solid #9C96E2;
    &-title {
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
    }
    &-categories {
        padding: 15px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        &-item {
            border-radius: 7px;
            border: 1px solid #9C96E2;
            width: 300px;
            height: 240px;
            text-align: center;
            padding: 0 30px
        }
    }
}
.catalog-item-title {
    display: block;
    margin-top: 37%;
}