.catalog-wrapper {
  border-radius: 7px;
  border: 1px solid #9C96E2;
  margin: 0 30px;
  margin-top: 40px;
  &-title {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
&-categories {
    padding: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 30px;
  }
}
.catalog-item-title {
  display: block;
  width: 250px;
  text-align: center;
  padding: 60px 30px;
  text-decoration: none;
  border-radius: 7px;
  border: 1px solid #9C96E2;
  background-size: cover;
  background-repeat: no-repeat;
  &-tomato {
    background-image: url(../../image/catalogMainPageImages/tomato.jpeg);
  }
  &-pumpkin {
    background-image: url(../../image/catalogMainPageImages/pumpkin.jpg);
  }
}