.catalog {
  &__wrapper {
    max-width: 1240px;
    margin: 40px auto 0;
    padding: 0 15px;
  }

  &__buttons {
    display: flex;
    margin: 30px 0;
    gap: 15px;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;

    @media (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 500px) {
      grid-template-columns: 1fr;
    }
  }
}

.catalog__items-wrapper {
  padding: 20px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.catalog__wrapper {

  &-title {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
  }

  &-categories {
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-bottom: 30px;

    :hover {
      background-color: $color-additional;
      color: $color-light;
      border-color: $color-additional;
      @extend %transition;
    }
  }
}

.catalog__item-title {
  display: block;
  width: 250px;
  text-align: center;
  padding: 20px 40px;
  text-decoration: none;
  border-radius: 7px;
  border: 1px solid $color-primary;
}