.registration {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  width: 80%;
  padding: 30px 15px 15px;
  margin: 0 auto;
  border: 1px solid $color-primary;
  border-radius: 7px;

  &__form {
    display: flex;
    width: 100%;
    transition: transform 1s ease;

    &[data-slide='2'] {
      transform: translateX(-100%);
    }

    &[data-slide='3'] {
      transform: translateX(-200%);
    }

    &[data-slide='4'] {
      transform: translateX(-300%);
    }

    .form__wrapper_toggle {
      position: absolute;
      top: 31px;
    }
  }

  &__form-wrapper {
    overflow: hidden;
    width: 60vw;
    margin: 0 auto;
  }

  &__form-buttons {
    width: fit-content;
    margin: 30px auto 15px;
    display: flex;
    gap: 15px;
  }

  &__form-button {
    text-transform: uppercase;
  }

  .form__buttons {
    min-width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 60vw;
    text-align: center;
  }
}

.form {
  &__fieldset {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex: 1 0 100%;
    flex-wrap: wrap;
    gap: 10px;
    border: 1px solid $color-primary;
    border-radius: 7px;
    padding: 10px;
  }

  .hidden {
    display: none;
  }

  &__legend {
    font-weight: 700;
    text-transform: capitalize;
  }

  &__wrapper-field {
    flex-basis: 45%;
    position: relative;

    &_checkbox {
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
      justify-content: start;
      gap: 10px;
      order: 2;

      .form__label {
        margin: 0;
      }
    }

    &[hidden] {
      display: none;
    }

    @media (max-width: 600px) {
      flex-basis: 100%;
    }
  }

  &__input {
    &_small {
      height: 35px;
    }
  }

  &__select {
    height: 35px;
    width: 100%;
    border: 1px solid $color-primary;
    border-radius: 7px;
    outline: none;
    cursor: pointer;
  }

  &__buttons {
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    margin: 20px 0;

    @media (max-width: 600px) {
      flex-direction: column;
    }
  }
}
