.registration {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 80%;
  padding: 15px;
  margin: 0 auto;
  border: 1px solid $color-primary;
  border-radius: 7px;
}

.registration__form {
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__fieldset {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    border: 1px solid $color-primary;
    border-radius: 7px;
    padding: 10px;
  }

  &__legend {
    font-weight: 700;
    text-transform: capitalize;
  }

  &__wrapper-field {
    flex-basis: 45%;
    position: relative;

    @media (max-width: 600px) {
      flex-basis: 100%;
    }
  }

  &__input {
    &_small {
      height: 35px;
    }
  }

  &__select {
    height: 35px;
    width: 100%;
    border: 1px solid $color-primary;
    border-radius: 7px;
    outline: none;
    cursor: pointer;
  }

  &__buttons {
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    margin: 20px 0;

    @media (max-width: 600px) {
      flex-direction: column;
    }
  }
}

.form__wrapper_toggle {
  position: absolute;
  top: calc(50% - 5px);
}
