.profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.profile__wrapper {
  margin: 0 auto;
  max-width: 85%;
  width: $content-width;
  display: flex;
}

.profile__menu {
  flex-basis: 25%;
}