.registration {
  &-form {
      margin: 0 auto;
      max-width: 600px;
      text-align: center;
      padding: 10px;
      border-radius: 5px;
  }
  &-title {
      margin: 0 auto;
      width: 100%;
      text-align: center;
      margin-bottom: 15px;
  }
}

.form {
  &-label {
      display: block;
      width: 46%;
      height: 30px;
  }
  &-input {
      padding: 1px 10px;
      display: block;
      width: 60%;
      height: 30px;
      border: 2px solid var(--main-color);
      border-radius: 5px;
  }
}

.login-form__input, .login-form__input-password {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-top: 25px;
  position: relative;

  & .form-label {
    position: absolute;
    top: -20px;
    left: 20%;
    text-align: start;
  }
}
.form-input.input-password {
  appearance: none;
}
.btn {
  &-registration {
      display: block;
      margin: 0 auto;
      margin-top: 10px;
      margin-bottom: 25px;
      width: 30%
  }
}
#terms {
  margin: 25px 10px 15px 0;
}
.password-control {
  display: block;
	position: absolute;
  cursor: pointer;
	top: 4px;
	right: 20%;
	width: 25px;
	height: 25px;
	background: url(https://snipp.ru/demo/495/view.svg) 0 0 no-repeat;
}
.no-view {
	background: url(https://snipp.ru/demo/495/no-view.svg) 0 0 no-repeat;
}




