* {
  box-sizing: border-box;
  transition: all 0.3s;
}

.login-page {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-page__wrapper {
  width: 600px;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 60px;
  border: 1px solid #7eb53e;
  border-radius: 10px;
}

.login-page__header {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.login-page__logo {
  width: 80px;
  height: 80px;
  background: url(../image/logo.png) center / contain no-repeat;
}

.login-page__title {
  font-size: 30px;
  text-transform: uppercase;
  max-width: 305px;
  text-align: right;
}

.form {
  width: 80%;

  &__label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
  }

  &__input {
    width: 100%;
    height: 50px;
    padding: 10px 15px;
    border-radius: 10px;
    border: 1px solid #7eb53e;
    outline: none;
    margin-bottom: 40px;
    font-size: 16px;
  }

  &__buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
  }

  &__button {
    font-family: inherit;
    width: 210px;
    height: 50px;
    background-color: transparent;
    outline: none;
    border: 1px solid #7eb53e;
    border-radius: 10px;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;

    &:hover {
      background-color: #7eb53e;
      color: white;
    }
  }

  &__link-button {
    width: 210px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #7eb53e;
    border-radius: 10px;
    text-transform: uppercase;
    cursor: pointer;

    &:hover {
      background-color: #7eb53e;
      color: white;
    }
  }
}
