.information {
  display: flex;
  padding: 25px 15px;
  border: 1px solid $color-primary;
  border-left: 0;
  border-radius: 0 7px 7px 0;
  background-color: $color-light;
  box-sizing: border-box;

  &__wrapper {
    flex-basis: 100%;
  }

  @media (max-width: 768px) {
    flex-basis: auto;
    border-radius: 0 0 7px 7px;
    border: 1px solid $color-primary;
  }
}

.information__title {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.information__content-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;

  &_default {
    background-color: $color-active;

    .information__content-value {
      text-transform: uppercase;
      font-weight: 700;
    }
  }

  &:not(&:last-child) {
    border-bottom: 1px solid $color-additional;
  }
}

.information__content-title {
  text-transform: uppercase;
  font-weight: 700;
}

.edit {
  width: 100%;

  &:not(&:last-child) {
    margin-bottom: 30px;
  }
}

.edit__legend {
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;

  @media (max-width: 500px) {
    font-size: 14px;
  }
}

.edit__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.edit__label {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-weight: 700;

  @media (max-width: 500px) {
    font-size: 14px;
  }
}

.edit__input {
  box-sizing: border-box;
  padding: 10px 15px;
  outline: none;
  border: 1px solid $color-primary;
  border-radius: 5px;
  width: 200px;

  @media (max-width: 500px) {
    width: 150px;
  }

  &_checkbox {
    width: 20px;

    @media (max-width: 500px) {
      width: 15px;
    }
  }
}

.edit__line-content {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid $color-primary;
}

.sign-out {
  flex-basis: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.sign-out__title {
  text-align: center;

  @media (max-width: 500px) {
    max-width: 220px;
  }
}

.sign-out__buttons {
  display: flex;
  gap: 30px;

  @media (max-width: 500px) {
    gap: 10px;
  }
}