@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

// Abstract
@import '../src/assets/styles/abstracts/constants';
@import '../src/assets/styles/abstracts/placeholders';

// Base
@import '../src/assets/styles/base/base';
@import '../src/assets/styles/base/button';

// Components
@import '../src/assets/styles/components/header';

// Pages
@import '../src/assets/styles/pages/loginPage';
@import '../src/assets/styles/pages/registrationPage';

.main-container {
  max-width: $content-width;
  margin: 0 auto;
  padding: 10px;
}