$color-dark: #090909;
$color-light: #fefefe;
$color-white-darkest: #f9f9fb;
$color-primary: #9c96e2;
$color-additional: #c4c0f2;
$color-invalid: #ff0000;
$color-active: #a07bcf;
$color-green: #50c878;
$color-darkest-green: #4cbb17;

$content-width: 1400px;
