
$color-dark: #090909;
$color-light: #FEFEFE;
$color-white-darkest: #F9F9FB;
$color-primary: #9C96E2;
$color-additional: #C4C0F2;
$color-invalid: #FF0000;
$color-active: #a07bcf;

$content-width: 1400px;