@import './abstracts/constants';
@import "./abstracts/placeholders";
@import "./base/typography";
@import "./base/base.scss";
@import "./components/buttons";
@import "./components/cardProduct";
@import "./base/errors";
@import "./layout/header/header";

@import "./pages/loginPage";
@import "./pages/registrationPage";
@import "./pages/mainPage";
@import "./pages/productPage";
@import "./pages/catalogPage";
